<div class="container text-center mt-5 pt-4">
  <div class="row">
    <div class="col">
      <div class="alert alert-info">
        <h1>Política de Privacidade do Aplicativo <b class="color-primary">Dear Code</b></h1>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col">
      <small>Última atualização: <b>19/11/2023</b></small>
      <p>
        Agradecemos por escolher o aplicativo Dear Code ("nós", "nosso" ou "aplicativo"). Esta Política de Privacidade destina-se a informar nossos usuários sobre como coletamos, usamos e protegemos as informações pessoais coletadas através do uso do aplicativo.
      </p>
    </div>
  </div>
  <div class="row">
    <div class="col">
      <h2>Informações Coletadas</h2>
      <b>1.1 Informações Pessoais:</b>
      <p>
        O Dear Code pode coletar informações pessoais fornecidas voluntariamente pelos usuários, como nome, endereço de e-mail e outras informações necessárias para melhorar a experiência do usuário.
      </p>
    </div>
  </div>
  <div class="row">
    <div class="col">
      <p>
        <b>1.2 Informações de Uso:</b>
        O aplicativo pode coletar informações sobre como você utiliza o aplicativo, como páginas visitadas, recursos utilizados e interações realizadas. Essas informações são coletadas de forma anônima e agregada para melhorar a funcionalidade e o desempenho do aplicativo.
      </p>
    </div>
  </div>
  <div class="row">
    <div class="col">
      <h2>Uso das Informações Coletadas</h2>
      <b>2.1 Melhoria do Serviço:</b>
      <p>
        As informações coletadas são utilizadas para melhorar a qualidade e a eficácia do aplicativo Dear Code, garantindo uma experiência personalizada e alinhada às preferências dos usuários.
      </p>
    </div>
  </div>

  <div class="row">
    <div class="col">
      <b>2.2 Comunicações:</b>
      <p>
        Podemos utilizar as informações de contato fornecidas para enviar atualizações, notificações importantes sobre o aplicativo ou responder a consultas e solicitações dos usuários.
      </p>
    </div>
  </div>
  <div class="row">
    <div class="col">
      <b>Compartilhamento de Informações</b>
      <p>
        Não compartilhamos informações pessoais identificáveis dos usuários com terceiros sem o consentimento expresso do usuário, a menos que seja exigido por lei ou para proteger nossos direitos legais.
      </p>
    </div>
  </div>
  <div class="row">
    <div class="col">
      <b>Segurança das Informações</b>
      <p>
        Implementamos medidas de segurança para proteger as informações pessoais dos usuários contra acesso não autorizado, alteração, divulgação ou destruição não autorizada.
      </p>
    </div>
  </div>
  <div class="row">
    <div class="col">
      <b>Cookies e Tecnologias Semelhantes</b>
      <p>
        O Dear Code pode utilizar cookies e tecnologias semelhantes para coletar informações sobre a interação do usuário com o aplicativo. Os usuários podem controlar o uso de cookies através das configurações do dispositivo.
      </p>
    </div>
  </div>
  <div class="row">
    <div class="col">
      <b>Links para Sites de Terceiros</b>
      <p>
        O aplicativo pode conter links para sites de terceiros. Não somos responsáveis pelas práticas de privacidade desses sites e incentivamos os usuários a revisar as políticas de privacidade desses terceiros.
      </p>
    </div>
  </div>
  <div class="row">
    <div class="col">
      <b>Alterações na Política de Privacidade</b>
      <p>
        Reservamo-nos o direito de modificar esta Política de Privacidade a qualquer momento. As alterações entrarão em vigor imediatamente após a publicação da versão atualizada no aplicativo. Recomendamos que os usuários revisem periodicamente esta política para estar ciente de quaisquer alterações.
      </p>
    </div>
  </div>
  <div class="row">
    <div class="col">
      <p>
        Ao utilizar o aplicativo Dear Code, você concorda com os termos desta Política de Privacidade. Se você não concordar com esta política, por favor, não utilize o aplicativo.
      </p>
    </div>
  </div>
  <div class="row">
    <div class="col">
      <p>
        Para perguntas ou preocupações sobre esta Política de Privacidade, entre em contato conosco através do e-mail [seu endereço de e-mail].
      </p>
    </div>
  </div>

  <div class="row">
    <div class="col">
      <div class="alert alert-success">
        Obrigado por confiar no Dear Code!
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col">
      <p>
        Atenciosamente, <b class="color-primary">Dear Code</b>
      </p>
    </div>
  </div>
</div>
